<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Question Details</title>
  <link rel="stylesheet" href="/home.css" />
  <link rel="stylesheet" href="/navbar.css" />
</head>
<body>

  <%- include("../components/navbar") %>

  <div class="question-section">
    <h3>Question:</h3>
    <div class="question-card">
      <div class="question-title"><%- data[0].title %></div>
      <div class="question-description"><%- data[0].description %></div>

      <img src="http://localhost:3000/<%- data[0].image %>" alt="question image" height="400px" width="400px" />

      <div class="question-author"><i>Author: <%- data[0].user.username %></i></div>
      <div class="posted-date"><i>Posted on: <%- new Date(data[0].createdAt).toLocaleDateString() %></i></div>
    </div>
  </div>

  <div class="answer">
  <h3>Answers:</h3>
    <% answers.forEach((answer) => { %>
      <div class="card">
        <p><%- answer.answer %></p>
        <div class="answer-author"><i>Author: <%- answer.user.username %></i></div>
        <div class="answer-date"><i>Posted on: <%- new Date(answer.createdAt).toLocaleDateString() %></i></div>
      </div>
    <% }) %>
  </div>

  <div class="answersection">
    <form action="/answer/<%- data[0].id %>" method="post">
      <textarea name="answer" cols="100" rows="10" placeholder="Write your answer here..." required></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>

</body>
</html>
